cycler == 0.11.0
Cython == 0.29.33
Owlready2 == 0.39
collection == 0.1.6
constraints == 0.95
experta == 1.9.4
fonttools == 4.38.0
frozendict == 1.2
inline == 0.0.1
joblib == 1.2.0
keras == 2.11.0
kiwisolver == 1.4.4
lml == 0.1.0
matplotlib == 3.6.3
missingno == 0.5.1
mlxtend == 0.21.0
numpy == 1.24.1
packaging == 23.0
pandas == 1.5.2
pip == 21.3.1
plotly == 5.13.0
psutil == 5.9.4
pyexcel == 0.7.0
pyexcel-io == 0.6.6
pyparsing == 3.0.9
pyswip == 0.2.9
python-constraint == 1.4.0
python-dateutil == 2.8.2
pytz == 2022.7
scikit-learn == 1.2.0
scipy == 1.10.0
seaborn == 0.12.2
schema == 0.6.7
setuptools == 65.5.1
six == 1.16.0
sklearn == 0.0.post1
tenacity == 8.1.0
texttable == 1.6.7
threadpoolctl == 3.1.0
wheel == 0.37.1
yellowbrick == 1.5